
<!-- navbar code  in partials-->
<div class="container-fluid nav_menu bg-dark">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <nav class="navbar navbar-expand-lg p-4">
        <div class="container-fluid">
          <i class="bi bi-cloud-sun-fill text-primary fs-1 text">
            <a class="navbar-brand text-primary fs-2 text fw-bold fst-italic" href="/"> MausamApp</a>
          </i>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item me-5">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item me-5">
                <a class="nav-link" href="/weather">Weather</a>
              </li>
            </ul>

          </div>
        </div>
      </nav>
    </div>  <!--col of row ends here.-->
  </div>   <!--//row of container-fluid ends here.-->
 </div> <!--//container-fluid or nav_menu ends here. -->
